<!DOCTYPE html>
<html lang="de">
<head>
  <title>Homeassistant Frontend</title>
</head>
<body style="background-color: black; margin: 0; padding: 0; overflow: hidden;">

  <div id="news" style="display: none;">
      <img src="/assets/media/tagesschau.jpg" width="800" height="480">
  </div>

  <video id="waiting_video" width="800" height="480" src="/assets/media/video.mp4" autoplay muted loop>
	<source type="video/mp4" src="/assets/media/video.mp4"></source>    
  </video>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript">
  $(document).ready( function(){

    var socket = io('');
    socket.on('connect', function() {
      console.log("connected");
    });

    socket.on('change', function(msg, cb) {
      if(msg == "news") {
          $("#waiting_video").hide();
          $("#news").show();
      } else if(msg == "waiting") {
          $("#news").hide();
          $("#waiting_video").show();
      }
    });
  });
  </script>

</body>
</html>
