<!DOCTYPE html>
<html lang="de">
<head>
  <title>Homeassistant Frontend</title>
  <link rel="stylesheet" href="/assets/css/frontend.css" type="text/css" />
</head>
<body>
  <video autoplay loop muted class="backgroundvideo">
    <source src="/assets/media/starfield.mp4" type="video/mp4">
  </video>

  <div class="newsimage">
    <img src="/assets/img/tagesschau.jpg"/>
  </div>

  <div class="clock"></div>

  <!-- EXTERNAL JS MODULES -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
  <script src="/assets/js/ext/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/ext/moment-with-locales.min.js"></script>

  <!-- INTERNAL JS MODULES -->
  <script src="/assets/js/small.js"></script>
  <script src="/assets/js/socket-control.js"></script>
</body>
</html>
